
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="text-center">
          <h3>Información Personal de &nbsp; <b>{{perfil.nombres_user | uppercase}} {{perfil.apellidos_user | uppercase}}</b></h3>
        </div>
      </div>
      <div class="card-body">
        <div class="content">
          <div class="row">
            <div class="col-md-12"><p><b>Username:</b>  {{perfil.nom_usuario}}  </p></div>
            <div class="col-md-12"><p><b>Acerca de mi: </b>  {{perfil.presentacion}}</p></div>
            <div class="col-md-12"><p> <b>Cumpleaños:</b>  Diciembre 14th, 1995   </p></div>
            <div class="col-md-12"><p><b>Lugar de Nacimiento:</b>  Machala, EL Oro, Ecuador </p></div>
            <div class="col-md-12"> <p> <b>Vivo en:</b>  Machala, EL Oro, Ecuador    </p></div>
            <div class="col-md-12"><p> <b>Ocupación:</b>   Estudiante  </p></div>
            <div class="col-md-12"><p><b>Se unió:</b>April 31st, 2014</p></div>
            <div class="col-md-12"><p> <b>Genero:</b>  Masculino </p></div>
            <div class="col-md-12"><p><b>Email:</b> {{perfil.email_user}} </p></div>
            <div class="col-md-12"><p><b>Número Telefonico:</b>  {{perfil.telefono}} </p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

