<!--<footer>
    <ul>
        <li> INFORMACIÓN </li>
        <li> AYUDA </li>
        <li> PRENSA </li>
        <li> EMPLEO </li>
        <li> PRIVACIDAD </li>
        <li> CONDICIONES </li>
        <li> UBICACIONES </li>
        <li> CUENTAS DESTACADAS </li>
        <li>  © 2021 Steven López - René romero - Mabel Quezada - Marcos quizhpe - </li>
    </ul>
</footer>-->

<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>© 2021, Designed by Team Net Social. Coded by Steven López - René romero - Mabel Quezada - Marcos quizhpe </li>
            </ul>
        </nav>
    </div>
</footer>
